html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
    /* border: 2px solid red; */
}
/* HEADER */
.header-container {
    background: linear-gradient(to bottom, #b83636bb, #000000c2);
    max-height: 200vh;
    min-height: 100vh;
}
.header {
    text-decoration: underline 6px;
    font-size: 120px;
    text-transform: uppercase;
    margin-top: 0;
    padding: 10px;
    text-align: center;    
    color: rgba(238, 238, 238, 0.938);
    background-color: rgba(0, 0, 0, 0.301);
    text-decoration-color: rgba(247, 247, 247, 0.842);  
}

.header.pork,
.header.avocado,
.header.kimchi {
    font-size: 50px;
    text-decoration: none;
    background-color: #b83636bb;
    height: 70px;
    padding: 10px;
    color: white;
 
}


.home-link {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    width: 5em;
    color: rgb(255, 255, 255);
    background-color: rgba(143, 14, 14, 0.747);
    display: block;
    margin: 50px auto;
    border: rgba(65, 11, 11, 0.384) 3px solid;
}

.container  {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;
        align-items: center;
        margin-top: 10vh;
    }
  
}

h2 {

    font-size: 36px;
    text-align: start;
    margin-left: 5vw;
}

.ingredients {
    font-size: 20px;
    width: 600px;
    margin: auto;
    padding: 0 10px 0 0;
    text-align: start;

}

.steps {
    font-size: 20px;
    width: 600px;
    margin: auto;
    padding: 0 10px 0 0;
    text-align: start;
}
.underheader > * {
        /* border: 2px solid red; */
}
.underheader {
    background-color: rgba(0, 0, 0, 0.808);
    background: linear-gradient(to bottom, #b83636bb, #000000c2);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 100px;
}
.foodimage {
    margin: 25px auto;
    flex: 4;
    display: flex;
    justify-content: flex-end;
}

.container-description {
    display: flex;
    flex: 3;
    margin-right: 300px;
}

.description {
    text-align: start; 
    align-self: center;
    justify-content: center;
    width: 450px;
    font-size: 25px;
}

.main {
    width: 50vw;
    margin: auto 20vw;
}



.underheader .description{
    color: white;
    background-color: #d3595900;
    
}


