html {
    font-size: 20px;
    font-family: Inter, Helvetica, sans-serif;
}

.food-image {
    width: 500px;
    height: auto;
}

.container {
    width: 60vw;
    margin: 0 auto;
}
.index.title {
    font-size: 80px;
}

.index.list {
    width: fit-content;
    padding: 10px 20px;
    background-color: #a091910d;
    border: 2px solid black;
    border-radius: 6px;
}

.index.list * {
    color: black;
    list-style: none;
    line-height: 1.5em;
}

.index.list *:hover {
    color: rgb(179, 73, 73);
    transition: .1s;
}