html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
    /* border: 2px solid red; */
}
/* HEADER */
.header-container {
    background-color: rgba(0, 0, 0, 0.808);
    max-height: 250vh;
    min-height: 100vh;
    margin: 0;
}
.header {
    text-decoration: underline 6px;
    font-size: 120px;
    text-transform: uppercase;
    margin-top: 0;
    padding: 10px;
    text-align: center;    
    color: rgba(238, 238, 238, 0.938);
    background-color: rgba(0, 0, 0, 0.301);
    text-decoration-color: rgba(247, 247, 247, 0.842);  
}

.header.pork,
.header.avocado,
.header.kimchi {
    font-size: 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.808);
    height: 70px;
    color: white;
}


.home-link {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    width: 5em;
    color: rgb(255, 255, 255);
    background-color: rgba(143, 14, 14, 0.747);
    display: block;
    margin: 50px auto;
    border: rgba(65, 11, 11, 0.384) 3px solid;
}

.container  {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container img {
    height: 400px;
}
@media (orientation: portrait) {
    .container {
        height: 100vh;
        margin: 0;
        flex-direction: column;
        align-items: center;    
        justify-content: space-evenly;
    }
  
}


h2 {
    font-size: 36px;
    text-align: start;
    color: #fff;
    margin: 30px 0 30px 6vw;
    background-color: rgba(0, 0, 0, 0.554);
}

.ingredients {
    font-size: 20px;
    width: 600px;
    margin: auto;
    padding: 0 10px 0 0;
    text-align: start;

}

.steps {
    font-size: 20px;
    width: 600px;
    margin: auto;
    padding: 0 10px 0 0;
    text-align: start;
}
.underheader > * {
        /* border: 2px solid red; */
}
.underheader {
    background-color: rgba(0, 0, 0, 0.808);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 50px;
}
.foodimage {
    margin: 25px auto;
    flex: 4;
    display: flex;
    justify-content: flex-end;
}

.foodimage img {
    width: 450px;
}
.container-description {
    display: flex;
    flex: 2;
    margin-right: 300px;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
    gap: 10px;
}

.description {
    text-align: start; 
    align-self: flex-end;
    justify-content: flex-end;
    width: 450px;
    font-size: 28px;
    flex: 15;
}

.info-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.kcal,
.time {
    color: coral;
    height: 20px;
}

.main {
    width: 60vw;
    margin: auto 20vw;
}

@media screen and (orientation:portrait) {
    .main {
        width: 100vw;
        margin: 0;
    }
    .ingredients,
    .steps {
        font-size: 150%;
        width: 80%;
    }
    h2 {
        font-size: 300%;
        margin: 50px;
    }
}



.underheader .description{
    color: white;
    background-color: #d3595900;
    
}

ul {
    list-style-type: none;
}

ul li::before {

        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: red; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }

.steps li {
    line-height: 1.5rem;
    margin: 10px;
}      

.ingredients li {
    line-height: 1.5rem;
    margin: 10px;
}


